<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.local.naruto.knowledge.mapper.menu.MenuMapper">
    <resultMap id="MenuInfoMap" type="com.local.naruto.knowledge.entity.MenuModel">
        <result column="menuId" property="menuId"/>
        <result column="parentId" property="parentId"/>
        <result column="language" property="language"/>
        <result column="zhName" property="zhName"/>
        <result column="zhDescription" property="zhDescription"/>
        <result column="enName" property="enName"/>
        <result column="enDescription" property="enDescription"/>
        <result column="status" property="status"/>
        <result column="sortNum" property="sortNum"/>
        <result column="createdUser" property="createdUser"/>
        <result column="createdDate" property="createdDate"/>
        <result column="lastModifiedUser" property="lastModifiedUser"/>
        <result column="lastModifiedDate" property="lastModifiedDate"/>
        <collection property="child" column="{parentId = menuId}"
                    javaType="java.util.ArrayList"
                    ofType="com.local.naruto.knowledge.entity.MenuModel"
                    select="getChildMenu"/>
    </resultMap>

    <sql id="menuInfoList">
        menuid `menuId`,
        parentid `parentId`,
        lang `language`,
        zhname `zhName`,
        zhdescription `zhDescription`,
        enname `enName`,
        endescription `enDescription`,
        status `status`,
        sortnum `sortNum`,
        createduser `createdUser`,
        createddate `createdDate`,
        lastmodifieduser `lastModifiedUser`,
        lastmodifieddate `lastModifiedDate`
    </sql>

    <!--新增菜单信息-->
    <insert id="addMenuInfo" parameterType="com.local.naruto.knowledge.entity.MenuModel">
        INSERT INTO tbl_menu_info
        (
            menuid,parentid,lang,zhname,zhdescription,enname,endescription,status,sortnum,
            createduser,createddate,lastmodifieduser,lastmodifieddate
        )
        VALUES
        (
            #{menuId},#{parentId},#{language},#{zhName},#{zhDescription},#{enName},#{enDescription},
            #{status},#{sortNum},#{createdUser},#{createdDate}, #{lastModifiedUser},#{lastModifiedDate}
        )
    </insert>

    <!--根据id查询菜单信息-->
    <select id="getSingleMenu" parameterType="string" resultMap="MenuInfoMap">
        SELECT <include refid="menuInfoList"/>
        FROM tbl_menu_info WHERE menuid = #{menuId}
    </select>

    <!--查询所有菜单-->
    <select id="getAllMenu" resultMap="MenuInfoMap">
        SELECT <include refid="menuInfoList"/> FROM tbl_menu_info
        WHERE parentid = null OR parentid = '' ORDER BY sortnum ASC
    </select>

    <!--查询子菜单-->
    <select id="getChildMenu" parameterType="java.util.Map" resultMap="MenuInfoMap">
        SELECT <include refid="menuInfoList"/>
        FROM tbl_menu_info WHERE parentid = #{parentId} ORDER BY sortnum ASC
    </select>

    <!--更新菜单信息-->
    <update id="updateMenuInfo" parameterType="com.local.naruto.knowledge.entity.MenuModel">
        UPDATE tbl_menu_info
        <set>
            parentid = #{parentId},
            lang = #{language},
            zhname = #{zhName},
            zhdescription = #{zhDescription},
            enname = #{enName},
            endescription = #{enDescription},
            status = #{status},
            lastmodifieduser = #{lastModifiedUser},
            lastmodifieddate = #{lastModifiedDate}
        </set>
        WHERE menuid = #{menuId}
    </update>
</mapper>
